<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Blame" type="domain.Blame"/>
        <typeAlias alias="Guest" type="domain.Guest"/>
        <typeAlias alias="Reservation" type="domain.Reservation"/>
        <typeAlias alias="User" type="domain.User"/>
        <typeAlias alias="Want" type="domain.Want"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="handler.MybatisTypeHandler"/>
    </typeHandlers>
</configuration>

