<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">
    <select id="getUserById" resultType="domain.User" parameterType="int">
        select * from User where id = #{id}
    </select>

    <select id="getIdByEmail" resultType="int" parameterType="String">
        SELECT id from user where email = #{email}
    </select>

    <select id="getIdByPwd" resultType="int" parameterType="String">
        SELECT id from user where password = #{pwd}
    </select>

<!--    insert 할때 변수이름 체크 잘할것... 이것떄매 시간 엄청 까먹음.-->
    <insert id="insertNewUser" parameterType="domain.User">
        insert into user(id, collegeid, name, tel1, tel2, tel3, residence, email, pw, attendrate, outdt) values (null, #{collegeid}, #{name}, #{tel1}, #{tel2}, #{tel3}, #{residence}, #{email}, #{pw}, null, null);
    </insert>
</mapper>
